html {
    height: 100%;
}

body {
    overflow-y: scroll;
    height: 100%;
}

body > .body {
    height: 100%;
}

.application {
    height: 100%;
    width: 100%;

    display: table;

    .layout-row {
        width: 100%;
        display: table-row;

        .layout-cell {
            display: table-cell;
            padding: $padding-base-vertical $padding-base-horizontal;
            width: 33%;
        }
    }

    main {
        position: relative;
        margin-top: $padding-large-vertical;
        height: 100%;
    }
}

header {
    background-color: $primary-dark;
    color: $white;

    h1 {
        margin: 0px;
    }
}

main {
    .nav {
        margin-bottom: $padding-base-vertical;
   }
}

.side {
    background-color: $gray-verylight;
    height: 100%;

    .nav {
        .nav {
            margin: 0px 0px 0px $padding-large-horizontal;
        }

        li a {
            margin-top: $padding-small-vertical;
            border-left: 1px solid $gray-light;
            background-color: $gray-verylight;
            color: $gray-base;
        }

        li a:hover {
            border-left: 1px solid $gray;
            background-color: $gray-lighter;
            color: $gray-base;
        }

        li.active > a {
            border-left: 1px solid $blue-light;
            background-color: $white;
            color: $blue-dark;
        }
    }
}

.footer {
    background-color: $gray-verylight;
    color: $gray-darker;
    padding: $padding-base-vertical $padding-base-horizontal;
    font-size: $font-size-small;
}
