html {
    height: 100%;
}

body {
    overflow-y: scroll;
    height: 100%;
}

body > .body {
    height: 100%;
}

.application {
    height: 100%;
    width: 100%;

    display: table;

    .layout-row {
        width: 100%;
        display: table-row;

        .layout-cell {
            padding: $padding-large-vertical $padding-large-horizontal;
            display: table-cell;
            vertical-align: middle;
            width: 33%;
        }
    }

    main {
        position: relative;
        margin-top: $padding-large-vertical;
        height: 100%;

        &.layout-row .layout-cell {
            vertical-align: top;
        }
    }
}

header {
    background-color: $primary-dark;
    color: $white;

    h1 {
        margin: .2em 0px;
    }
}

main {
    .nav {
        margin-bottom: $padding-base-vertical;
   }
}

.side {
    background-color: $gray-verylight;
    height: 100%;

    .nav {
        .nav {
            margin: 0px 0px 0px $padding-large-horizontal;
        }

        li a {
            margin-top: $padding-small-vertical;
            border-left: 1px solid $gray-light;
            background-color: $gray-verylight;
            color: $gray-base;
        }

        li a:hover {
            border-left: 1px solid $gray;
            background-color: $gray-lighter;
            color: $gray-base;
        }

        li.active > a {
            border-left: 1px solid $blue-light;
            background-color: $white;
            color: $blue-dark;
        }
    }
}

.footer {
    background-color: $gray-verylight;
    color: $gray-darker;
    padding: $padding-base-vertical $padding-base-horizontal;
    font-size: $font-size-small;
}

h1, h2, h3 {
    text-transform: uppercase;
    margin: 1em 0 .5em 0;
    border-bottom: 2px solid $primary-light;

    &:first-child {
        margin-top: 0;
    }

	color: $gray-light;
    text-shadow: 0 -1px 0px $black;
}

.box {
    display: block;
    position: relative;
    padding: $padding-base-vertical $padding-base-horizontal;

    &.now-playing {
        min-height: 150px;

        .img-thumbnail {
            max-height: 150px;
        }
    }
}

// Loading cover
.cover {
    position: absolute;

    width: 100%;
    height: 100%;

    // Lower the $zindex-modal
    z-index: 900;

    margin: 0;
    padding: 0;

    top: 0;
    left: 0;

    big {
        opacity: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &.cover-loading {
        background-color: transparentize($black, 0.3);
        color: $text-color;
    }

    &.cover-error {
        background-color: transparentize($red, 0.7);
        color: $red;
    }
}
