html {
    height: 100%;
}

body {
    overflow-y: scroll;
    height: 100%;
}

body > .body {
    height: 100%;
}

.application {
    height: 100%;
    width: 100%;

    display: table;

    .layout-row {
        width: 100%;
        display: table-row;

        .layout-cell {
            display: table-cell;
            padding: $padding-base-vertical $padding-base-horizontal;

            &:first-child {
                width: 200px;
            }
        }
    }

    main {
        position: relative;
        margin-top: $padding-large-vertical;
        height: 100%;
    }
}

header {
    background-color: $blue-light;
    background-image: linear-gradient(to left, $blue-lighter 0%, $blue-light 50%);
    color: $white;

    .logo-cell {
        background-color: $blue;
    }

    .nav {
        li > a {
            border: 1px solid $white;
            border-radius: $border-radius-base;
            margin-right: $padding-base-horizontal;
            padding: $padding-small-vertical $padding-small-horizontal;
        }
    }
}

main {
    .nav {
        margin-bottom: $padding-base-vertical;
   }
}

.side {
    background-color: $gray-verylight;
    height: 100%;

    .nav {
        .nav {
            margin: 0px 0px 0px $padding-large-horizontal;
        }

        li a {
            margin-top: $padding-small-vertical;
            border-left: 1px solid $gray-light;
            background-color: $gray-verylight;
            color: $gray-base;
        }

        li a:hover {
            border-left: 1px solid $gray;
            background-color: $gray-lighter;
            color: $gray-base;
        }

        li.active > a {
            border-left: 1px solid $blue-light;
            background-color: $white;
            color: $blue-dark;
        }
    }
}

.footer {
    background-color: $gray-verylight;
    padding: $padding-base-vertical $padding-base-horizontal;
    font-size: $font-size-small;
}

// Apply 3D effect to certain elements
.btn,
.well {
    box-shadow: 2px 2px 2px 1px $shadow;
}

.well:hover {
    box-shadow: 2px 2px 2px 1px $gray-light;
}

.btn:hover {
    box-shadow: none;
}

// Improve form styling
input.form-control {
    border-top: none;
    border-left: none;
    border-right: none;
}

.form-group label {
    vertical-align: sub;
    font-size: $font-size-small;
    color: $gray;
}

// Panels
.panel {
    @extend .well;

    padding: $padding-base-vertical $padding-base-horizontal;

    & > a {
        text-align: right;
        display: block;
        min-height: 128px;
        position: relative;

        color: $gray-dark;
        font-size: $font-size-large;
    }

    .panel-icon {
        position: absolute;
        bottom: 0px;
        left: 0px;
    }

    & > h1:first-child,
    & > h2:first-child,
    & > h3:first-child,
    & > h4:first-child,
    & > h5:first-child,
    & > h6:first-child {
        margin-top: 0px;
    }

    & > form:only-child {
        margin-bottom: 0px;
    }
}

// Loading cover
.cover {
    position: absolute;

    width: 100%;
    height: 100%;

    // Lower the $zindex-modal
    z-index: 900;

    margin: 0;
    padding: 0;

    top: 0;
    left: 0;

    big {
        opacity: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &.cover-loading {
        background-color: transparentize($gray-lighter, 0.3);
        color: $text-color;
    }

    &.cover-error {
        background-color: transparentize($red, 0.7);
        color: $red;
    }
}

.modal .cover {
    // Higher the $zindex-modal
    z-index: 1100;
}

.help {
    color: $gray;
    font-size: $font-size-small;
    font-weight: normal;
}

// List additions
.list-diluted > li {
    padding: $padding-base-vertical $padding-base-horizontal;
}

.list-hover > li:hover {
    background-color: $table-bg-hover;
}

.list-striped > li:nth-of-type(odd) {
    background-color: $table-bg-accent;
}

