{% extends "::base.html.twig" %}

{% block main %}
<div class="frontpage">
    <header class="navbar navbar-inverse navbar-fixed-top">
        <nav class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Spotify Party Queue</a>
            </div>
        </nav>
    </header>

    {% block content %}{% endblock %}

    <footer class="container footer">
        <ul class="list-inline">
            <li>&copy; 2016 - {{ ''|date('Y') }} Spotify Party Queue</li>
            <li><a href="{{ path('spotify.frontend.legal') }}">Impressum</a></li>
            <li><a target="_blank" href="https://bitbucket.org/koredn/spotify/issues">Problem melden</a></li>
        </ul>
    </footer>
</div>
{% endblock %}
