security:
    providers:
        in_memory:
            memory: ~

    firewalls:
        assests:
            pattern: ^/(_(profiler|wdt)|assets)/
            security: false

        default:
            anonymous: ~
